<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    <h1>Hi!</h1>
    <h1>Welcome to ANT</h1>
    
    {{#if Notauthen}}
        <form action="/account" method="post">
            Tell me your name : <input type="text" name="txtName">
            <br>
            <br>
            Password: <input type="password" name="txtPass">
            <br>
            <br>
            <input type="submit" value="Ok, Sign me in!">
        </form>
    {{/if}}

</body>
</html>